@{
  Layout = "_Layout";
}
<h1>To Do List</h1>
<hr />


<h4><a href="/categories">View All Categories</a></h4>
<h4><a href="/items">View All Items</a></h4>
<h4><a href="/categories/new">Add Category</a></h4>
<h4><a href="/items/new">Add Items</a></h4>
