@{
  Layout = "_Layout";
}
<h1>Add a new Task</h1>
<div class="form-group">
<form action="/items" method="post">
  <label for="item-description"><h2>Task description:</h2></label>
  <br>
  <input id="item-description" name="item-description" class="form-control">
  <br>
  <button type="submit" class="btn btn-lg">Add new item</button>
</form>
</div>
<br>
<p><a href="/items" class="btn btn-primary btn-lg btn-success">View all items</a></p>
<p><a href="/" class="btn btn-primary btn-lg btn-warning">Back home</a></p>
