@{
  Layout = "_Layout";
}

<h1>To Do List</h1>
<h3>Add A New Item to @Model.GetName()</h3>
<form action="/categories/@Model.GetId()/items" method="post">
  <div class="form-group">
    <label for="new-item">Item Description</label>
    <input type="text" id="new-item" name="new-item" class="form-control">
  </div>
  <div class="form-group">
    <label for="raw-date">Date Due</label>
    <input type="date" id="raw-date" name="raw-date" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-warning" name="button">Add Item</button>
</form>
