@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <div class="text-center">
<img src="http://78.media.tumblr.com/63380cd5799b38ad2da10337f57ed1e9/tumblr_mswjkvKlzH1qag5o1o1_1280.gif" alt="Responsive image">
<br>
</div>
<h3>Add A New Item to @Model.GetName()</h3>
<form action="/categories/@Model.GetId()/items" method="post">
  <div class="form-group">
    <label for="new-item">Item Description</label>
    <input type="text" id="new-item" name="new-item" class="form-control">
  </div>
  <div class="form-group">
    <label for="raw-date">Date Due</label>
    <input type="date" id="raw-date" name="raw-date" class="form-control" required>
  </div>
  <button type="submit" class="btn btn-secondary btn-lg"><img src="https://media.boingboing.net/wp-content/uploads/2014/05/zed-horse-b-800-.gif" width="50" height="30">Add Item</button>
</form>
