@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <div class="text-center">
<img src="https://media.giphy.com/media/f7rm0fsoIQmxa/giphy.gif" alt="Responsive image">
<br>
</div>
<h1>@Model.GetDescription()</h1>

<a href="/items/new">Add another Item</a>
<a href="/">View All Items</a>
