@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <div class="text-center">
<img src="https://media.giphy.com/media/MxNhHAEvMsh68/giphy.gif" alt="Responsive image">
<br>
</div>

@foreach (var item in Model)
{
  <h4>@item.GetDescription() | <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></h4>
}
<a href="/items/new">Add New Item</a>
