@{
  Layout = "_Layout";
}

<h1>To Do List</h1>
@foreach (var item in Model)
{
  <h4>@item.GetDescription() | <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></h4>
}
<a href="/items/new">Add New Item</a>
