@{
  Layout = "_Layout";
}


<h1>To Do List</h1>
<hr />
<h2>Edit Item: @Model.GetDescription()</h2>
<form action="/items/@Model.GetId()/update" method="post">
  <label for="newname">Name:</label>
  <input type="text" name="newname" value="@Model.GetDescription()">
  <button type="submit">Edit</button>
</form>
<h4><a href="/">Return Home</a><h4>
