@{
  Layout = "_Layout";
}
<div class="jumbotron">
  <div class="text-center">
<img src="https://media.giphy.com/media/s8i0ihN5tLXeU/giphy.gif" alt="Responsive image" class="img-circle">
<br>
</div>
<div class="text-center">
<h1>Create Life Path</h1>
</div>
<form method="post" action="/categories">
  <div class="form-group">
    <input type="text" name="name" class="form-control">
    <br>
    <button type="submit" class="btn btn-secondary btn-lg"><img src="https://media.boingboing.net/wp-content/uploads/2014/05/zed-horse-b-800-.gif" width="50" height="30">Create</button>
  </div>
</form>
<a href="/" class="btn btn-secondary btn-lg" role="button"><img src="https://openclipart.org/download/263947/House-4.svg" width="30" height="30">Return Home</a>
