@{
  Layout = "_Layout";
}

<h1>@Model["category"].GetName()</h1>
<form method="post" action='/categories/@Model["category"].GetId()/items/sort'>
  <small class="text-muted">SORT BY DATE:</small>
  <button type="submit" name="selection" class="btn btn-primary" value="ASC">^</button>
  <button type="submit" name="selection" class= "btn btn-primary" value="DESC">v</button>
</form>
@foreach (var item in @Model["items"])
{
  <h4>@item.GetDescription() | Due @item.GetFormattedDate() | <a href="/items/@item.GetId()/update">Edit</a> | <a href="/items/@item.GetId()/delete">Delete</a></h4>
}
<p><a href='/categories/@Model["category"].GetId()/items/new'>Add a new item</a></p>
<p><a href="/">Return Home</a></p>
