@{
  Layout = "_Layout";
}

<h1>To Do List</h1>
@foreach (var category in Model)
{
  <h4>@category.GetName() | <a href="/categories/@category.GetId()">View</a> | <a href="/categories/@category.GetId()/delete">Delete</a></h4>
}
<a href="/categories/new">Add New Category</a>
